body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
}

div.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    height: 80px;
}

div.menu.fixed {
    position: relative;
    justify-content: space-between;
}

a.menuItem {
    text-transform: uppercase;
    font-size: 18px;
    width: auto;
    margin: auto;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

a.menuItem.active {
    font-weight: bold;
}

a.menuItem:hover {
    font-style: italic;
}

div.page {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    min-height: calc(100vh - 140px);
    margin: 140px 0 0 0;
}

div.portfolio {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 140px);
    margin: 140px 0 0 0;
}

div.portfolio.reverse {
    flex-wrap: wrap-reverse;
}

div.pageBlock {
    display: none;
    background-color: #FCCAA8;
    width: 120px;
    height: calc(100vh - 140px);
    max-height: 100%;
    margin: 0;
}

div.portfolioColumn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    height: auto;
    max-height: calc(100% - 268px);
    margin: 0 32px 32px 32px;
    overflow: hidden;
}

div.portfolioColumn>p {
    /* white-space: pre-line; */
    font-size: 18px;
    margin: auto;
    padding: 0 16px;
    width: 500px;
    max-width: calc(100% - 32px);
}

div.portfolioColumn>img {
    width: auto;
    height: calc(100vh - 140px);
    max-height: 100%;
    margin: auto;
    max-width: 100%;
    height: auto;
}

div.pageTitle {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
}

div.pageTitle>h1 {
    text-transform: uppercase;
    z-index: 2;
    margin: auto 0 auto 0;
    font-size: 32px;
    letter-spacing: 0.2em;
}

div.pageNumber {
    color: #FCCAA8;
    font-size: 220px;
    line-height: 220px;
    z-index: 1;
    margin: 0 -160px 0 0;
    /* letter-spacing: 0.2em; */
    width: 220px;
}

div.page>img {
    width: 100%;
    height: 100%;
}

div.page>div.color {
    width: 100%;
    height: 100%;
    background-color: white;
}

div.square {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-width: 10pt;
    border-color: black;
    border-style: solid;
    max-height: 450px;
    max-width: 450px;
    width: 60vw;
    height: 60vw;
    margin: 8px auto -225px auto;
    z-index: 1;
}

div.square>h1 {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    line-height: 30pt;
    margin: auto;
    letter-spacing: 0.2em;
}

div.block1 {
    display: flex;
    background-color: #FCCAA8;
    width: 90%;
    height: 10vh;
    flex-grow: 1;
    margin: auto;
    margin-bottom: 16px;
}

.nameDate {
    padding: 16px;
}

.nameDate h2 {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
}

div.contact {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

div.contact>img {
    width: 100%;
    height: 100%;
}

div.contact>div.color {
    width: 100%;
    height: 100%;
    background-color: white;
}

div.contactSquare {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-width: 10pt;
    border-color: black;
    border-style: solid;
    max-height: 450px;
    max-width: 450px;
    width: 60vw;
    height: 60vw;
    margin: auto -225px auto 20%;
    z-index: 1;
}

div.contactSquare>h1 {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    line-height: 30pt;
    margin: auto;
    letter-spacing: 0.2em;
}

div.contactBlock {
    display: flex;
    background-color: #FCCAA8;
    width: 50%;
    height: 80vh;
    flex-grow: 1;
    margin: auto;
}

div.about {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    flex-direction: row;
}

div.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    flex-grow: 1;
    height: calc(100% - 128px);
    max-height: calc(100% - 268px);
    margin: 0 32px;
}

div.column>img {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
}

div.progressGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 16px 0;
    height: auto;
    width: 100%;
}

div.column #progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
}

#progress p {
    width: 40%;
    min-width: auto;
    margin: 0;
    white-space: pre-line;
    color: #000000aa;
}

#progress #progressbar {
    flex-grow: 1;
    margin: auto 0;
    max-width: 60%;
}

#progressbar {
    background-color: #BCBEC0;
}

#progressbar>div {
    background-color: #FCCAA8;
    height: 8px;
}

img.miron {
    margin: auto;
    height: auto;
    max-width: 100%;
}

div.column>p {
    max-width: 100%;
    width: auto;
    white-space: pre-line;
    color: #000000aa;
}

div.column>h4.title {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

div.fill {
    margin-top: 32px;
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-direction: row-reverse;
}

div.fill.miron {
    display: inline;
    height: auto;
    flex-grow: 0;
}

#arrow {
    background-image: url('img/arrow.png');
    background-position: top right;
    background-repeat: no-repeat;
}

footer {
    font-size: 20px;
    padding: 24px 64px;
    margin: 256px auto 0;
    width: auto;
    border-width: 10pt;
    border-color: black;
    border-style: solid;
    border-bottom: none;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: sans-serif;
}

@media (min-width: 620px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        font-family: sans-serif;
    }
    div.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: #ffffff;
        height: 140px;
    }
    div.menu.fixed {
        position: relative;
        justify-content: space-between;
    }
    a.menuItem {
        text-transform: uppercase;
        font-size: 24px;
        width: auto;
        margin: auto;
        padding: 16px;
        text-decoration: none;
        color: black;
        font-weight: lighter;
    }
    a.menuItem.active {
        font-weight: bold;
    }
    a.menuItem:hover {
        font-style: italic;
    }
    div.page {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        min-height: calc(100vh - 140px);
        margin: 140px 0 0 0;
    }
    div.portfolio {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: calc(100vh - 140px);
        margin: 140px 0 0 0;
    }
    div.portfolio.reverse {
        flex-wrap: wrap-reverse;
    }
    div.pageBlock {
        display: none;
        background-color: #FCCAA8;
        width: 120px;
        height: calc(100vh - 140px);
        max-height: 100%;
        margin: 0;
    }
    div.portfolioColumn {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        min-width: 100%;
        width: 100%;
        height: auto;
        max-height: calc(100% - 268px);
        margin: 0 32px 32px 32px;
        overflow: hidden;
    }
    div.portfolioColumn>p {
        font-size: 18px;
        margin: auto;
        width: 500px;
        max-width: 100%;
    }
    div.portfolioColumn>img {
        width: auto;
        height: calc(100vh - 140px);
        max-height: 100%;
        margin: auto;
    }
    div.pageTitle {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 100%;
    }
    div.pageTitle>h1 {
        text-transform: uppercase;
        z-index: 2;
        margin: auto 0 auto 0;
        font-size: 32px;
        letter-spacing: 0.2em;
    }
    div.pageNumber {
        color: #FCCAA8;
        font-size: 220px;
        line-height: 220px;
        z-index: 1;
        margin: 0 -160px 0 0;
        width: 220px;
    }
    div.page>img {
        width: 100%;
        height: 100%;
    }
    div.page>div.color {
        width: 100%;
        height: 100%;
        background-color: white;
    }
    div.square {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-width: 10pt;
        border-color: black;
        border-style: solid;
        max-height: 450px;
        max-width: 450px;
        width: 60vw;
        height: 60vw;
        margin: 8px auto -225px auto;
        z-index: 1;
    }
    div.square>h1 {
        display: flex;
        text-align: center;
        text-transform: uppercase;
        font-size: 30pt;
        line-height: 50pt;
        margin: auto;
        letter-spacing: 0.2em;
    }
    div.block1 {
        display: flex;
        background-color: #FCCAA8;
        width: 90%;
        height: 10vh;
        flex-grow: 1;
        margin: auto;
        margin-bottom: 16px;
    }
    .nameDate {
        padding: 16px;
    }
    .nameDate h2 {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.2em;
    }
    div.contact {
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: row;
    }
    div.contact>img {
        width: 100%;
        height: 100%;
    }
    div.contact>div.color {
        width: 100%;
        height: 100%;
        background-color: white;
    }
    div.contactSquare {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-width: 10pt;
        border-color: black;
        border-style: solid;
        max-height: 450px;
        max-width: 450px;
        width: 60vw;
        height: 60vw;
        margin: auto -225px auto 20%;
        z-index: 1;
    }
    div.contactSquare>h1 {
        display: flex;
        text-align: center;
        text-transform: uppercase;
        font-size: 30pt;
        line-height: 50pt;
        margin: auto;
        letter-spacing: 0.2em;
    }
    div.contactBlock {
        /* justify-content: center; */
        display: flex;
        background-color: #FCCAA8;
        width: 50%;
        height: 80vh;
        flex-grow: 1;
        margin: auto;
    }
    div.about {
        justify-content: center;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    div.column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 400px;
        min-width: 200px;
        flex-grow: 1;
        height: calc(100% - 128px);
        max-height: calc(100% - 268px);
        margin: 0 32px;
    }
    div.column>img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
    }
    div.progressGroup {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 16px;
        height: auto;
        width: 100%;
    }
    div.column #progress {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    #progress p {
        width: 40%;
        min-width: auto;
        margin: 0;
        white-space: pre-line;
        color: #000000aa;
    }
    #progress #progressbar {
        flex-grow: 1;
        margin: auto 0;
        max-width: 60%;
    }
    #progressbar {
        background-color: #BCBEC0;
    }
    #progressbar>div {
        background-color: #FCCAA8;
        height: 8px;
    }
    img.miron {
        height: calc(100vh - 140px);
        /* max-height: calc(100% - 268px); */
    }
    div.column>p {
        max-width: 100%;
        width: auto;
        white-space: pre-line;
        color: #000000aa;
    }
    div.column>h4.title {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
    }
    div.fill {
        margin-top: 0;
        display: flex;
        flex-grow: 1;
        width: auto;
        flex-direction: row-reverse;
    }
    div.fill.miron {
        display: flex;
        height: auto;
        flex-grow: 1;
    }
    #arrow {
        background-image: url('img/arrow.png');
        background-position: top right;
        background-repeat: no-repeat;
    }
    footer {
        font-size: 20px;
        padding: 24px 64px;
        margin: 256px auto 0;
        width: auto;
        border-width: 10pt;
        border-color: black;
        border-style: solid;
        border-bottom: none;
        text-align: center;
        letter-spacing: 0.2em;
        font-family: sans-serif;
    }
}

@media (min-width: 1420px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        font-family: sans-serif;
    }
    div.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: #ffffff;
        height: 140px;
    }
    div.menu.fixed {
        position: relative;
        justify-content: space-between;
    }
    a.menuItem {
        text-transform: uppercase;
        font-size: 32px;
        width: auto;
        margin: auto 35.5px;
        padding: 16px;
        text-decoration: none;
        color: black;
        font-weight: lighter;
    }
    a.menuItem.active {
        font-weight: bold;
    }
    a.menuItem:hover {
        font-style: italic;
    }
    div.page {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        min-height: calc(100vh - 140px);
        margin: 140px 0 0 0;
    }
    div.portfolio {
        justify-content: center;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        min-height: calc(100vh - 140px);
        margin: 140px 0 0 0;
    }
    div.pageBlock {
        display: flex;
        background-color: #FCCAA8;
        width: 120px;
        height: calc(100vh - 140px);
        max-height: 100%;
        margin: 0;
    }
    div.portfolioColumn {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        max-width: 50%;
        min-width: 0;
        width: 0;
        flex-grow: 1;
        height: auto;
        max-height: calc(100% - 268px);
        margin: 0 32px;
        overflow: hidden;
    }
    div.portfolioColumn>p {
        font-size: 20px;
        margin: auto;
        width: 500px;
        max-width: 100%;
    }
    div.portfolioColumn>img {
        width: auto;
        height: calc(100vh - 140px);
        max-height: 100%;
        margin: auto;
        max-width: none;
    }
    div.pageTitle {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-width: 100%;
    }
    div.pageTitle>h1 {
        text-transform: uppercase;
        z-index: 2;
        margin: auto 0 auto 0;
        font-size: 48px;
        letter-spacing: 0.2em;
    }
    div.pageNumber {
        color: #FCCAA8;
        font-size: 220px;
        line-height: 220px;
        z-index: 1;
        margin: 0 -160px 0 0;
        width: 220px;
    }
    div.page>img {
        width: 100%;
        height: 100%;
    }
    div.page>div.color {
        width: 100%;
        height: 100%;
        background-color: white;
    }
    div.square {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-width: 10pt;
        border-color: black;
        border-style: solid;
        min-height: 450px;
        min-width: 450px;
        margin: 8px auto -225px auto;
        z-index: 1;
    }
    div.square>h1 {
        display: flex;
        text-align: center;
        text-transform: uppercase;
        font-size: 30pt;
        line-height: 50pt;
        margin: auto;
        letter-spacing: 0.2em;
    }
    div.block1 {
        display: flex;
        background-color: #FCCAA8;
        width: 90%;
        height: 10vh;
        flex-grow: 1;
        margin: auto;
        margin-bottom: 16px;
    }
    .nameDate {
        padding: 16px;
    }
    .nameDate h2 {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.2em;
    }
    div.contact {
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: row;
    }
    div.contact>img {
        width: 100%;
        height: 100%;
    }
    div.contact>div.color {
        width: 100%;
        height: 100%;
        background-color: white;
    }
    div.contactSquare>h1 {
        display: flex;
        text-align: center;
        text-transform: uppercase;
        font-size: 30pt;
        line-height: 50pt;
        margin: auto;
        letter-spacing: 0.2em;
    }
    div.contactBlock {
        /* justify-content: center; */
        display: flex;
        background-color: #FCCAA8;
        width: 50%;
        height: 80vh;
        flex-grow: 1;
        margin: auto;
    }
    div.about {
        justify-content: center;
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    div.column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 400px;
        min-width: 200px;
        flex-grow: 1;
        height: calc(100% - 128px);
        max-height: calc(100% - 268px);
        margin: 0 32px;
    }
    div.column>img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
    }
    div.progressGroup {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 16px;
        height: auto;
        width: 100%;
    }
    div.column #progress {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: 100%;
    }
    #progress p {
        width: 40%;
        min-width: auto;
        margin: 0;
        white-space: pre-line;
        color: #000000aa;
    }
    #progress #progressbar {
        flex-grow: 1;
        margin: auto 0;
        max-width: 60%;
    }
    #progressbar {
        background-color: #BCBEC0;
    }
    #progressbar>div {
        background-color: #FCCAA8;
        height: 8px;
    }
    img.miron {
        height: calc(100vh - 140px);
        /* max-height: calc(100% - 268px); */
    }
    div.column>p {
        max-width: 100%;
        width: auto;
        white-space: pre-line;
        color: #000000aa;
    }
    div.column>h4.title {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
    }
    div.fill {
        display: flex;
        flex-grow: 1;
        width: auto;
        flex-direction: row-reverse;
    }
    #arrow {
        background-image: url('img/arrow.png');
        background-position: top right;
        background-repeat: no-repeat;
    }
    footer {
        font-size: 20px;
        padding: 24px 64px;
        margin: 256px auto 0;
        width: auto;
        border-width: 10pt;
        border-color: black;
        border-style: solid;
        border-bottom: none;
        text-align: center;
        letter-spacing: 0.2em;
        font-family: sans-serif;
    }
}